<h1>Les films dispos du moment :</h1>

<div data-controller="search">
  <input data-search-target="input" type="text" class="form-control">
  <a data-action="click->search#searching" class="btn btn-success text-white">Chercher</a>
  <div data-search-target="result"> </div>
</div>